.Barchart_container {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(255, 255, 255, 0.4);
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: auto;
  height: auto;
}

#select_wrapper {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
  margin-top: 2%;
}
#butn {
  margin-top: 8%;
}
