* {
  box-sizing: border-box;
}

.Barchart_container {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(82, 82, 82, 0.4);
  -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(80, 79, 79, 0.4);
  box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(70, 68, 68, 0.4);
  padding: 1%;
  margin-top: 4%;
  margin-bottom: 2%;
  width: auto;
}

.Barchart_container:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

#select_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 4%;
  margin-bottom: 10%;
}

#select_wrapper1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 4%;
  margin-bottom: 10%;
}

#butn1 {
  margin-top: 8%;
}

#butn2 {
  margin-top: 8%;
}

#heading5 {
  font-size: 20px;
  font-weight: bold;
}
#heading4 {
  font-size: 20px;
  font-weight: bold;
}

#heading6 {
  font-size: 20px;
  font-weight: bold;
}
