* {
  box-sizing: border-box;
}

.chart_container {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(82, 82, 82, 0.4);
  -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(80, 79, 79, 0.4);
  box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(70, 68, 68, 0.4);
  padding: 1%;
  margin-top: 4%;
  margin-bottom: 2%;
  width: auto;
}

.chart_container:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

#button_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  border: 1px double #303030;
  box-shadow: 0 9px #999;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 1px;
  height: 30px;
  width: 60px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}

button:hover,
button:focus {
  background: rgb(110, 109, 109);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

button:active {
  background-color: rgb(110, 109, 109);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#heading3 {
  font-size: 20px;
  font-weight: bold;
}
