#oned{
    background-color: white;
    margin-top: 20px;
    color: black;
}

#onew{
    background-color: white;
    margin-top: 20px;
    color: black;
}

#onem{
    background-color: white;
    margin-top: 20px;
    color: black;
}

#oney{
    background-color: white;
    margin-top: 20px;
    color: black;
   
}

