html,
body {
  background-color: #e3e5e9;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

div[class^="col-"] {
  border: 5px solid #e3e5e9;
}

#heading {
  font-size: 20px;
  font-weight: bold;
}

#heading2 {
  font-size: 20px;
  font-weight: bold;
}

#heading4 {
  font-size: 20px;
  font-weight: bold;
}

.Brand {
  color: white;
}

.font-weight-bold {
  color: white;
}

.container {
  background-color: white;
  border: 2px solid #e3e5e9;
}

.From {
  margin: 0 auto;
  width: 100%;
}

.From input,
select {
  padding: 5px;
  margin: 5px 10px;
  border: 1px solid rgba(119, 119, 119, 0.5);
}

.From {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  border: none;
}

#conversion_results {
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
  border-radius: 5px;
  -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(82, 82, 82, 0.4);
  -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(80, 79, 79, 0.4);
  box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(70, 68, 68, 0.4);
  padding: 1%;
  padding-bottom: 12%;
  margin-top: 6%;
  margin-bottom: 2%;
  width: auto;
}

#conversion_results:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

#result {
  background-color: purple;
  border-radius: 5px;
  border-bottom: 2px solid grey;
  color: white;
}

footer {
  text-align: center;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  color: black;
}

button {
  background-color: purple;
  color: white;
  border: 1px double white;
}

#convertbutton {
  background-color: purple;
  color: white;
  border: 1px double purple;
}

#heading7 {
  color: purple;
}

@-moz-keyframes marquee {
  0% {
    -moz-transform: translateX(20%);
  }
  100% {
    -moz-transform: translateX(-20%);
  }
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(20%);
  }
  100% {
    -webkit-transform: translateX(-20%);
  }
}

@keyframes marquee {
  0% {
    -moz-transform: translateX(20%);
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
  }
  100% {
    -moz-transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
}

.marqueeEffect {
  background: white;
  color: purple;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  height: 55px;
}

.marqueeEffect p {
  line-height: 55px;
  text-align: center;
  position: absolute;
  width: auto;
  height: auto;
  margin: 0;
  -moz-transform: translateX(20%);
  -webkit-transform: translateX(-22%);
  transform: translateX(22%);
  -moz-animation: marquee 15s linear infinite alternate;
  -webkit-animation: marquee 15s linear infinite alternate;
  animation: marquee 18s linear infinite alternate;
}
