html,
body {
  background-color: #e3e5e9;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

div[class^="col-"] {
  border: 5px solid #e3e5e9;
}

.Brand {
  color: white;
}

.font-weight-bold {
  color: white;
}

#wrapper{
 height: 60px;
 background-color: white;
 padding-bottom: 20px;
 padding-top: 2px;
 

}

.container {
  background-color: white;
  border: 2px solid #e3e5e9;
}

.From {
  margin: 0 auto;
  width: 100%;
}

.From input,
select {
  padding: 5px;
  margin: 5px 10px;
  border: 1px solid rgba(119, 119, 119, 0.5);
}

.From {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  border: none;
}

#conversion_results {
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
  border-radius: 5px;
  -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(82, 82, 82, 0.4);
  -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(80, 79, 79, 0.4);
  box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(70, 68, 68, 0.4);
  padding: 1%;
  margin-top: 6%;
  margin-bottom: 2%;
  width: auto;
}

#result {
  background-color: rgba(75,192,192,0.4);
  border-radius: 5px;
  border-bottom: 2px solid grey;
}

footer{
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;  
  padding: 1%;
}

button{
  background-color: rgba(75,192,192,1);
  color: white;
  border: 1px double white;
}

#convertbutton{
  background-color: rgba(75,192,192,1);
  color: white;
  border: 1px double rgba(75,192,192,1);
}