#Converter {
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
  border-radius: 5px;
  -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(82, 82, 82, 0.4);
  -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(80, 79, 79, 0.4);
  box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5),
    inset 1px 2px 0px rgba(70, 68, 68, 0.4);
  padding: 1%;
  margin-top: 4%;
  margin-bottom: 2%;
  width: auto;
}

#Converter:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
