@-webkit-keyframes toggle {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes toggle {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

#toggle {
  background-color: purple;
  width: 50px;
  height: 30px;
  border-radius: 0;
}

#toggle:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.nav-link {
  font-size: 20px;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
  transition: 0.1s;
  text-decoration: none;
  background: purple;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1.02) translate(-1%, -1%);
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
  color: purple;
  transition: 0.1s;
  text-decoration: none;
  transform: scale(1.02) translate(-1%, -1%);
}
